body {
    background-color: #92b6e4;
    width: 50%;
    margin-left: 250px;
     
}

div label {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font: bold;
}

.box {
    background-color: white;
    padding: 18px 30px;
    border-radius: 8px;
    box-shadow: 2px 4px 6px #343541;
}
/* input tipo texto*/

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #616066fb;
    border-radius: 8px;
    box-sizing: border-box;

}

/* input tipo submit*/
input[type=submit] {
    width: 50%;
    background-color: #1ee22ef6;
    color: white;
    padding: 14px 20px;
    margin: 5px 140px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* textarea*/
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #616066fb;
    border-radius: 8px;
    box-sizing: border-box;
}

/* input tipo email*/
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #616066fb;
    border-radius: 8px;
    box-sizing: border-box;
}
/* input tipo telefono*/
input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #616066fb;
    border-radius: 8px;
    box-sizing: border-box;
}
